<!-- Views/Professor/ProfileProfessor.cshtml -->
@model Admin
<div class="container">
    <div class="main-body">

        
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.userName</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <button type="button" class="btn btn-primary btn-lg w-100" onclick="location.href='@Url.Action("UploadExcelProfessor", "Admins")'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                </svg>
                                Add Professors List
                            </button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <button type="button" class="btn btn-primary btn-lg w-100" onclick="location.href='@Url.Action("UploadExcelStudent", "Admins")'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                </svg>
                                Add Student List
                            </button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <button type="button" class="btn btn-primary btn-lg w-100" onclick="location.href='@Url.Action("UploadExcelCourse", "Admins")'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                </svg>
                                Add Semester Courses
                            </button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <button type="button" class="btn btn-primary btn-lg w-100" onclick="location.href='@Url.Action("StudentsEnrolled", "Admins")'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                </svg>
                                View Students
                            </button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <td class="d-flex justify-content-center" style="width: 350px;">
                                <a class="btn btn-primary btn-lg w-100" asp-action="Download">Show Schedule</a>
                            </td>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">User Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.userName
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.name
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">ID</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.id
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    16 Ahmed Ali Alouba street
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                                <a class="btn btn-danger btn-lg w-100" asp-controller="Admins" asp-action="GenerateSchedule">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                           <path d="M7.25 1a.75.75 0 0 1 .75.75v4.19a.75.75 0 0 1-1.5 0V1.75A.75.75 0 0 1 7.25 1zM7.5 12a1 1 0 0 1-1-1V8.25a1 1 0 0 1 2 0V11a1 1 0 0 1-1 1zm7-11.5a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5zM1 1.5A.5.5 0 0 0 .5 2v12a.5.5 0 0 0 .5.5h14a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H1z" />
                           </svg>
                           Generate Schedule
                    </a>

                </div>
                            <form class="login100-form validate-form flex-sb flex-w" asp-controller="Admins" asp-action="ProfessorTeachCourse" method="post">
                                <div class="mb-1">
                                    <input class="input100" type="text" name="courseId">
                                </div>

                                <div class="mb-1 container-login100-form-btn m-t-17">
                                    <button class="login100-form-btn">
                                        Show
                                    </button>
                                </div>

                                <div class="mb-1 text-white">
                                    <a asp-controller="Admins" asp-action="CreateDepartment" class="btn btn-success">
                                        <i class="bi bi-plus-circle"></i> Add Department
                                    </a>
                                </div>

                                <div class="mb-1 text-white">
                                    <a asp-controller="Admins" asp-action="CreateHall" class="btn btn-success">
                                        <i class="bi bi-plus-circle"></i> Add Hall
                                    </a>
                                </div>
                            </form>
                
            </div>
        </div>
    </div>
</div> 
        </div>

    </div>
</div>
<!-- Add other profile information as needed -->

